@use '/src/styles/abstracts/variables' as *;
@use '/src/styles/typography/typography' as *;


.playfield {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 1440px;
    max-height: 1024px;
    height: 100vh;
    width: 100vw;
    //Hilffuntionen
    color: white;
    // Ab hier Variabelen
    background-color: var(--playField_Background);

    
}



.playfield-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    height: 100px;
    //Ab hier Variabelen
    background-color: var(--playerHeader_Background);
    color: var(--playerHeader_FontColor);
}



.player-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:292px ;
    height: 62px;


//Ab hier Variabelen
    background-color: var(--playerSection_Background);
    font-size: var(--playerSection_FontSize);
    
}

.players {
    align-items: center;
    display: flex;
    gap: 5px;
 
}

.player-picture,.opponent-picture {
    width: 24px;
    height: 20px;
   
}



.current-player {
    display: flex;
    align-items: center;
    gap: 10px;
    //Ab hier Variabelen
    color:var(--currentPlayer_FontColor);
    font-size: var(--currentPlayer_FontSize);
    font-weight: var(--currentPlayer_FontWight);    
}

.exit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 207px;
    height: 62px;

    //Ab hier Variabelen
    background-color: var(--exitGameButton_backgroundColor);
   
}

.btn {
    margin-left: 10px;
    padding: 0;
    border: 0;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    //Ab hier Variabelen
    color: var(--exitGameButton_fontColor);
    font-size: var(--exitGameButton_fontSize);
    font-weight: var(--exitGameButton_fontWight);
}



.card-Field {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 50%;
    background-color:black;
}